*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}


body{

    width:100vw;
    height:100vh;

}

.background{

    width:100vw;
    height:100vh;
    background-color: skyblue;
}

.bird{

    height: 50px;
    width: 80px;
    position: fixed;
    top :40vh;
    left: 30vw;
    z-index: 100;

}

.pipe_sprite{
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-color: green
}

.message{

    position: fixed;
    
    height: 10vh;
    top: 12vh ;
    left: 35vw ;
    font-size : 5vh;
    font-weight: 200;
    color: rgb(184, 184, 24);
    text-align: center;
}

.score{
    
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    font-weight: 100 ;
    font-size: 10vh;
    color: goldenrod;
    z-index: 10;

}

.score_val{
    color:gold;
}